.firstBlock{
    display: flex;
    justify-content: space-between;

    margin-top: 100px;
}

.firstBlock .textBlock{
    flex-basis: 60%;

}

.firstBlock .SiteSvg{
    border-radius:30px 0 0 30px;
    box-shadow: -10px 10px 20px rgba(15, 15, 15, 0.2), 10px -10px 20px rgba(15, 15, 15, 0.2), -10px -10px 20px rgba(61, 61, 61, 0.9), 10px 10px 25px rgba(15, 15, 15, 0.9), inset 1px 1px 2px rgba(61, 61, 61, 0.3), inset -1px -1px 2px rgba(15, 15, 15, 0.5);
}

.firstBlock h1{
    margin-top: 0;
    margin-left: 40px;
    text-align: start;

    font-style: normal;
    font-weight: bold;
    font-size: 4rem;

}

.firstBlock .emtyInsideTitle{
    font-size: 6rem;
    -webkit-text-stroke: 1.2px #fff;
    color: rgba(0,0,0,0);
}

.firstBlock .links{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstBlock .links a{
    margin: 30px ;
    line-height: 2; /*задаём высоту строки*/
    font-size: 1.2rem;
    padding: 5px 5%;
    text-decoration: none;

    color: #E4E4E4;
}



